{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}

{% block body %}



        <h2>{{ category.name }}</h2>

    <a href="{{ path('app_index') }}">
        Retour à l'acceuil.
    </a>
{% endblock %}