{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>
    <h2>{{ article.category.name }}</h2>

    <p>{{ article.content }}</p>

    <a href="{{ path('app_index') }}">
        Retour à l'acceuil.
    </a>
{% endblock %}