{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}

{% block body %}
<h1>Bienvenue sur mon blog</h1>
<p> Article N° {{ page }}</p>

    <a href="{{ path('blog_show', {'slug' : "javascript-vs-php"}) }}">Lien vers l'article JS vs PHP</a>
    <br>
    <a href="{{ path('blog_show', {'slug' : "javascript-meme"}) }}">lien vers l'article Javascript Meme</a>
    <br>
    <a href="{{ path('show_category', {'categoryName' : 'Javascript'}) }}">Liens vers les 3 derniers articles Javascript</a>
{% endblock %}