{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}

{% block body %}
<h1>Bienvenue sur mon blog</h1>

{% endblock %}