{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}

{% block body %}
<h1>Bienvenue sur mon blog</h1>

    <ul>
    {% for category in categories %}
    <li><a href="{{ path('show_category', {'categoryName' : category.name}) }}">Liens vers les 3 derniers articles {{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}