{% extends 'base.html.twig' %}

{% block title %}
Blog Test
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}

{% block body %}
<h1>Blog test</h1>
<p>Créé par  {{ owner }}</p>
{% endblock %}